<div class="mx-auto max-w-3xl text-center md:space-y-20 space-y-14">
    <img class="m-auto" src="public/propeller.svg" width="256" height="256">
    <div class="mt-6 p-4 text-xl border border-green-500 rounded-lg text-gradient">
        Good news! Your mouse is still working as always.
    </div>
</div>

<style>
    .text-gradient {
        background: linear-gradient(to right, #32a852, #e0ff8a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
</style>
