<div class="mx-auto max-w-3xl text-center md:space-y-20 space-y-14">
    <img class="m-auto" src="public/propeller.svg" width="256" height="256">
    <div class="mt-6 md:p-4 p-2 flex flex-col md:text-xl border border-green-500 rounded-lg text-gradient">
        <p>Good news!</p>
        <p>The button is still working.</p>
    </div>
</div>

<style>
    .text-gradient {
        background: linear-gradient(to right, #32a852, #e0ff8a);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        color: transparent;
    }
</style>
