{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
    <style>
        @keyframes pulse-ring {
            0% {
                transform: scale(0.9);
                opacity: 1;
            }
            80%, 100% {
                transform: scale(1.4);
                opacity: 0;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="space-y-28">
        <div class="space-y-12">
            <h1 class="pt-4 text-xl">Index</h1>
            <p class="text-2xl">Hello, {{name}}!</p>
        </div>
        <button
            class="relative bg-fuchsia-700 hover:bg-pink-600 text-gray-300 text-lg py-2 px-4 rounded-lg transition duration-200 ease-in-out transform hover:scale-110 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-pink-500 transform-origin-center"
            hx-post="/clicked"
            hx-swap="outerHTML">
            <span class="absolute left-0 top-0 w-full h-full bg-pink-500 rounded-lg opacity-75 animate-pulse"></span>
            <span class="relative">Click Me</span>
        </button>
    </div>
{% endblock %}
